<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" xmlns="http://www.w3.org/1999/html"
      xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'gui/main.css' %}">
    <title>Capstone</title>

    <style>
        nav.our_header_color {
            background-color: #592C88;
        }
        body.our_background_color {
            background-color: #2c2f33;
        }
        .box_background_color {
            background-color: #4c4c4c;
        }
        h2.color {
            color: #ffffff;
        }
        label.color {
            color: #ffffff;
        }
    </style>

</head>

<body class="our_background_color">

<header class="site-header">
    <nav class="navbar navbar-expand-md navbar-dark our_header_color fixed-top">
        <a class="navbar-brand mr-4" href="/">MiniGNC</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
    </nav>
</header>

<div class="content-section box_background_color" style="width:18%; float: left; margin: 10px 0px 0px 100px; height: 500px">
    <h2 class="color" style="margin-bottom:20px" align="center">Graph Setup</h2>
    <div class="btn-group" style="display: inline-block; margin-bottom:10px">

        <form action="#" method="get">
            <input type="submit" value="Add Host" name="add_host_btn" style="margin-bottom: 8px">
            <input type="text" value="h1" id="add_host_name" name="add_host_name" size="4" />
            <input type="text" value="127.0.0.1" id="add_host_ip" name="add_host_ip" size="12" />
        </form>

        <form action="#" method="get">
            <input type="submit" value="Add Switch" name="add_switch_btn" style="margin-bottom: 8px">
            <input type="text" value="s1" id="add_switch_name" name="add_switch_name" size="4" />
            <!--<input type="text" value="127.0.0.1" id="add_switch_ip" name="add_host_ip" size="12" />-->
        </form>

        <form action="#" method="get">
            <input type="submit" value="Add Controller" name="add_controller_btn" style="margin-bottom: 8px">
            <input type="text" value="c1" id="add_controller_name" name="add_controller_name" size="4" />
            <!--<input type="text" value="127.0.0.1" id="add_controller_ip" name="add_host_ip" size="12" />-->
        </form>

        <form action="#" method="get">
            <input type="submit" value="Add Link" name="add_link_btn" style="margin-bottom: 8px">
            <input type="text" value="h1" id="add_first_link" name="add_first_link" size="4" />
            <p style="display: inline-block; color: #ffffff"><-></p>
            <input type="text" value="s1" id="add_second_link" name="add_second_link" size="4" />
        </form>
        <form action="#" method="get">
            <input type="submit" value="Generate Graph" name="graphbtn" style="margin-bottom: 8px">
        </form>
        <hr style="height:2px; border-width:0; color:lightgray; background-color:lightgray">
        <form action="#" method="get">
            <!--<input type="submit" value="Make File" name="setbtn" style="display: block; margin-bottom: 8px">-->
            <input type="submit" value="Reset Parameters" name="resetbtn" style="margin-bottom: 8px">
            <input type="submit" value="Clear Output" name="clearoutputbtn" style="margin-bottom: 8px">
        </form>
        <hr style="height:2px; border-width:0; color:lightgray; background-color:lightgray">
        <form action="#" method="get">
            <input style="margin-top:5px" onclick="iperf_alert()" type="submit" value="Iperf" name="iperf_btn" id="iperf_btn">
            <input type="text" value="h1" id="iperf_host1_name" name="iperf_host1_name" size="4" />
            <p style="display: inline-block; color: #ffffff"><-></p>
            <input type="text" value="h2" id="iperf_host2_name" name="iperf_host2_name" size="4" />
        </form>
        <form action="#" method="get">
            <input type="submit" onclick="ping_all_alert()" value="Ping All" name="pingbtn" id="pingbtn" style="margin-top: 10px">
        </form>

        <!--<hr style="height:2px; border-width:0; color:lightgray; background-color:lightgray">-->
    </div>
</div>

<div class="content-section box_background_color" id="info" style="width:18%; float:left; margin: 10px 0px 0px 50px; overflow: auto; height: 500px">
    <h2 class="color" style="margin-bottom:20px" align="center">Graph Information</h2>
        {% block content %}{% endblock %}
</div>

<div class="content-section box_background_color" id="database" style="width:16%; float:left; margin: 10px 0px 0px 50px; height: 500px">
    <h2 class="color" style="margin-bottom:20px" align="center">Database Menu</h2>
    <form action="#" method="get">
        <label class="color">Choose a name for the database:</label>
        <input type="text" value="example" id="save_file_name" name="save_file_name" />
        <input style="margin-top:5px" type="submit" value="Save to Database" name="add_databtn">
    <hr style="height:2px; border-width:0; color:lightgray; background-color:lightgray; margin:30px 0px 30px">
    </form>
    <form action="#" method="get">
        <label class="color">Select a csv file to load:</label>
        <input style="color: #ffffff" type="file" name="load_databtn" id="load_databtn" accept=".csv">
        <input style="margin-top:5px" type="submit" value="Load" id="submit_load_filename"/>
    </form>
</div>

<div class="content-section box_background_color" id="output" style="float: left; margin: 50px 0px 0px 100px; width:90%">
    <h2 class="color" style="margin-bottom:20px">Output</h2>
    <div style="background-color:#f3f2f2">
        {% block output %}{% endblock %}
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous"></script>

</body>

<script>

    /*
    var get_file = function() {
        var fileInput = document.querySelector("#load_databtn");
        var file = fileInput.files[0];
        alert(file.name);
    }

    document.querySelector("#load_databtn").onchange = get_file;
    */

    function iperf_alert() {
        alert("Testing bandwidth over 5 seconds...");
    }

    function ping_all_alert() {
        alert("Pinging all hosts, may take a while with large networks...");
    }

</script>

</html>
